.form {
	display: block;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
@media (prefers-reduced-motion:reduce) {
	.form {
		transition: none
	}
}
.form::-ms-expand {
	background-color: transparent;
	border: 0
}
.form-control:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #495057
}
.form:focus {
	color: #495057;
	background-color: #fff;
	border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}
.form::-webkit-input-placeholder {
	color: #6c757d;
	opacity: 1
}
.form-control::-moz-placeholder {
	color: #6c757d;
	opacity: 1
}
.form:-ms-input-placeholder {
	color: #6c757d;
	opacity: 1
}
.form::-ms-input-placeholder {
	color: #6c757d;
	opacity: 1
}
.form::placeholder {
	color: #6c757d;
	opacity: 1
}
.form:disabled,
.form[readonly] {
	background-color: #e9ecef;
	opacity: 1
}

.form-file,
.form-range {
	display: block;
	width: 100%
}